@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {
        margin-bottom: 48px;
    }
            
    .principles-item {
        width: calc((100% - 24px*3) / 4);
    }

    .principles-item::before {
        background-size: 64px;
        display: block;
        content: '';
        height: 112px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
    }

    .icon-sat-antenna::before {
        background-image: url(../images/icons.svg/satellite-antenna-a.svg);
    }

    .icon-clock::before {
        background-image: url(../images/icons.svg/clock-b.svg);
    }

    .icon-comp::before {
        background-image: url(../images/icons.svg/comp-c.svg);
    }

    .icon-cosmonaut::before {
        background-image: url(../images/icons.svg/cosmonaut-d.svg);
    }

    .principles-suptitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
    }

    .principles-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-color);
    }

    .about {
        display: block;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px*3) / 4);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 24px*5) / 6);
    }

}