@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .logotype {
        margin-right: 76px;
        line-height: 1.33;
    }
    .address-menu {
        gap: 40px;
        display: flex;
    }

    .contact-e-mail {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contact-phone-number {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        bottom: -23px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {
        margin-bottom: 48px;
    }
            
    .principles-item {
        width: calc((100% - 24px*3) / 4);
    }

    .principles-item::before {
        background-size: 64px;
        display: block;
        content: '';
        height: 112px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
    }

    .icon-sat-antenna::before {
        background-image: url(../images/icons.svg/satellite-antenna-a.svg);
    }

    .icon-clock::before {
        background-image: url(../images/icons.svg/clock-b.svg);
    }

    .icon-comp::before {
        background-image: url(../images/icons.svg/comp-c.svg);
    }

    .icon-cosmonaut::before {
        background-image: url(../images/icons.svg/cosmonaut-d.svg);
    }

    .principles-suptitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
    }

    .principles-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-color);
    }

    .about {
        display: block;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px*3) / 4);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 24px*5) / 6);
    }

    /*++++++++++++++++++++++++++++++ FOOTER ++++++++++++++*/

    .footer {
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .footer-wrap-logo {
      margin-right: 120px;
    }

.footer-text {
  padding-bottom: 0;
  margin-top: 16;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}

.footer-wrap-cocial-media {
  margin-right: 80px;
}

.footer-suptitle {
  margin: 0 0 16px 0;
}

.subscribe-input {
  margin: 0 24px 0 0;
}

.button-subscribe {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 165px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 4px;
  justify-content: center;
 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 64px 8px 24px;
  display: flex;
  align-items: center;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404BBF;
}

.subscribe-btn-icon {
  fill: #FFFFFF;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

    /* ======   MODAL ====*/
      
      .modal {
        width: 408px;
        min-height: 584px;
      }
    
}