@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .logotype {
        margin-right: 76px;
        line-height: 1.33;
    }

    .address-menu {
        gap: 40px;
        display: flex;
    }

    .contact-e-mail {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contact-phone-number {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        bottom: -23px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {
        margin-bottom: 48px;
    }
            
    .principles-item {
        width: calc((100% - 24px*3) / 4);
    }

    .principles-item::before {
        background-size: 64px;
        display: block;
        content: '';
        height: 112px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
    }

    .icon-sat-antenna::before {
        background-image: url(../images/icons.svg/satellite-antenna-a.svg);
    }

    .icon-clock::before {
        background-image: url(../images/icons.svg/clock-b.svg);
    }

    .icon-comp::before {
        background-image: url(../images/icons.svg/comp-c.svg);
    }

    .icon-cosmonaut::before {
        background-image: url(../images/icons.svg/cosmonaut-d.svg);
    }

    .principles-suptitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
    }

    .principles-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-color);
    }

    .about {
        display: block;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px*3) / 4);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 24px*5) / 6);
    }

    /*++++++++++++++++++++++++++++++ FOOTER ++++++++++++++*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark-background-color);
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-wrap-logo {
    margin-right: 120px;
  }
  
  .footer-logotype {
    font-family: var(--second-font-family);
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  
  .footer-logo-part {
    display: inline-block;
    color: #f4f4fd;
  }
  
  .footer-text {
    max-width: 264px;
    padding-bottom: 0;
    margin-top: 16;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
  }
  
  .footer-wrap-cocial-media {
    margin-right: 80px;
  }
  
  .footer-suptitle {
    min-width: 75px;
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .footer-soc-item {
    width: 40px;
    height: 40px;
  }
  
  .footer-soc-link {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-soc-item {
    fill: #ffffff;
  }
  
  .footer-soc-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }
  
  .subscribe {
    width: 453px;
    height: 80px;
  }
  
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .subscribe-input {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin: 0 24px 0 0;
    padding: 0 0 0 16px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
  }
  
  .subscribe-input:focus {
    border-color: var(--accent-color);
  }
  
  .subscribe-input:focus::placeholder {
    color: var(--accent-color);
  }
  
  .subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .subscribe-btn-wrap {
    position: relative;
  }
  
  .button-subscribe {
    border: transparent;
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 165px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 4px;
    justify-content: center;
  
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 64px 8px 24px;
    display: flex;
    align-items: center;
  }
  
  .button-subscribe:hover,
  .button-subscribe:focus {
    background-color: #404bbf;
  }
  
  .subscribe-btn-icon {
    fill: #ffffff;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }

    /* ======   MODAL ====*/
      
      .modal {
        width: 408px;
        min-height: 584px;
      }
    
}